body {
    margin: 0;
}

* {
    font-weight: bold;
}

* ::selection {
    color: rgb(25, 0, 255);
    background-color: black;
}

header {
    position: relative;
    background-color: rgb(0, 195, 255);
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
}


ul li {
    display: inline-block;
    list-style: none;
    background-color: black;
    color: white;
    width: fit-content;
    padding: 8px;
    border-radius: 50%;
}

td {
    list-style: none;
    background-color: black;
    color: rgb(255, 0, 0);
    width: fit-content;
    padding: 8px;
    border-radius: 50%;
}

td :hover {
    color: blue;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    font-family: cursive;
    font-weight: 40px;
    position: absolute;
    left: 7px;
    animation-name: span;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.43, 0.81, 0.62, 0.27);
    ;
    letter-spacing: 3px;
    animation-iteration-count: infinite;

}

@keyframes span {
    from {
        rotate: 0;
    }

    to {
        rotate: 1turn;
    }
}

header :hover {
    animation-name: span;
    animation-play-state: paused;
}

.div-head {
    width: 20px;
    background-color: black;
    height: 20px;
    animation-name: head;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}



@keyframes head {
    0% {
        background-color: rgb(255, 255, 255);
        transform: translateX(-20px);
        border-radius: 15%;
    }

    25% {
        background-color: red;
        transform: rotate(45deg);
        border-radius: 25%;
        transform: translateX(-40px);
    }

    50% {
        background-color: rgb(28, 15, 215);
        transform: rotate(-45deg);
        border-radius: 35%;
        transform: translateX(-60px);

    }

    75% {
        background-color: rgb(0, 0, 0);
        border-radius: 50%;
        transform: translateX(-80px);

    }

    100% {
        background-color: gold;
        transform: translateX(-100px);
        border-radius: 50%;
    }

}



/* header end */
section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
}

section>div {
    display: inline-flex;
    justify-items: center;
    width: 250px;
    height: 250px;
    padding: 3px;
    border-radius: 50%;

}

.box1 {
    border: 2px solid rgb(255, 0, 0);
}

.box2 {
    border: 2px solid green;
}

.box3 {
    border: 2px solid blue
}

img {

    filter: blur(10px);
    border-radius: 50%;

}

section>div :hover {
    filter: blur(0);
    transform: scale(1.3);
    border-radius: 30%;
    transition: 0.5s;
    cursor: pointer;

}

.contain-pdf {
    display: flex;
    margin-bottom: 40px;
}

.pdf {
    width: 200px;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    margin: 2px auto;
    border-radius: 15px;
    padding: 10px;
    color: red;
}

.pdf:hover {
    filter: drop-shadow(10px 10px 6px rgb(265, 0, 0));
    transition: 0.5s;
    transform: scale(1.1, 1.3);
    cursor: pointer;
    color: blue;
}


.images-grid {
    display: flex;
    justify-content: space-evenly;
}

.images-grid>img {
    width: 400px;

}


.images-grid :hover {
    filter: none;
    transition: .6s;
    animation-name: image-rotate;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes image-rotate {
    to {
        rotate: 1turn;
    }
}

footer>img {
    filter: none;
    border-radius: 9%;
    height: 150px;
    margin-right: 6px;

}

footer {
    position: relative;
    margin-top: 32px;
    padding: 15px;
    background-color: #445953;
    height: 300px;
    display: flex;
}

footer>img {
    border-radius: 30%;
}

.foot {
    position: absolute;
    left: 60px;
    top: 50%;
    border-radius: 50%;
    width: 20px;
    background-color: black;
    height: 20px;
    animation-name: foot;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



@keyframes foot {
    0% {
        background-color: rgb(0, 243, 170);
    }

    25% {
        background-color: red;
        transform: translateY(40px);
        transform: translateX(30px);
    }

    50% {
        background-color: rgb(28, 15, 215);
        transform: translateY(40px);

    }

    75% {
        background-color: rgb(0, 0, 0);
        transform: translateY(40px);
        transform: translateX(-30px);
    }

    100% {
        background-color: rgb(255, 0, 0);
        transform: translateX(-30px);
        transform: translateY(0);

    }

}